
.wallet1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em ;
    gap: 1rem;
    background-color: rgb(47, 47, 47);
    color: white;
    margin: 1rem;
}
.dialogbox{
    background-color: black;
    color: white;
    padding: 1em 3em;
}